<!-- index.html -->
<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="organizerApp">
<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->
    <title>Organizer App</title>

    <!-- SCROLLS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"><!-- load bootstrap -->
    <style>
        html                    { overflow-y:scroll; }
        body                    { padding-top:50px; }
    </style>

    <!-- SPELLS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->
    <script src="core.js"></script>

</head>
<!-- SET THE CONTROLLER AND GET ALL TASKS -->
<body ng-controller="mainController">
    <div class="container">

        <!-- LOOP OVER THE TASKS IN $scope.tasks -->
        <table class="table">
            <tr>
                <th>ID</th>
                <th>TASK</th>
            </tr>
            <tr ng-repeat="item in tasks">
                <td>{{item.id}}</td>
                <td>{{item.description}}</td>
            </tr>
        </table>
        <br>
        <br>

        <form>
            <div class="form-group">
                <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                <input type="text" placeholder="Task" ng-model="formData.desc">
            </div>
            <!-- createTask() WILL CREATE NEW Task -->
            <button type="submit" class="btn btn-primary btn-lg" ng-click="createTask()">Add</button>
        </form>



    </div>
</body>
</html>